  .noria {
    width: 400px;
    height: 400px;    
    animation: rotacio 20s infinite; /* Fa que no pari de girar (es repeteix de manera infinita)*/
  }

  @keyframes rotacio {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }