body {
    display: flex;
    align-items: center;
    margin-top: 7rem;
}

.sol {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    margin-left: 25rem;
}

.lluna {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    margin-top: 9rem;
    animation: eclipse 3s linear infinite;
}


@keyframes eclipse {
    0%, 50% {
        left: 30%;
        transform: translate(-0%, -50%);
    }
    60%,100%{
        left: 30%;
        transform: translate(-50%, -100%);
    }
}