.cargant {
    border-top: 12px solid;  /*creacio cercle */
    border-radius: 100%;     /*creacio cercle */
    width: 100px;    /* tamany */
    height: 100px;    /* tamany */
    animation: gira 2s linear infinite;  /* animacio de gir infinita */
}
@keyframes gira {
    from { transform: rotate(0deg); }   
    to { transform: rotate(360deg); }
}
