.cargant {
    border-top: 10px solid black;  /* para hacer la linea arriba y abajo */
    border-radius: 3rem;    
    width: 90px;    
    height: 90px;    
    animation: gira 2s infinite;  
}
@keyframes gira {
    0% { transform: rotate(0deg); }   
    100% { transform: rotate(360deg); }
}
