.cargant {
    border-top: 12px solid;  
    border-radius: 100%;    
    width: 100px;    
    height: 100px;    
    animation: gira 2s infinite;  
}
@keyframes gira {
    0% { transform: rotate(0deg); }   
    100% { transform: rotate(360deg); }
}
