.obra{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 20px;
}

.obra:hover{
    font-style: italic;
    color: blue;
}

.escritor{
    font-size: 40px;
    word-spacing: 20px;
}

.prologo{
    font-size: 30px;
    font-style: oblique;
    text-transform: uppercase;
}

.prologo:hover{
    font-weight: bold;
    color: red;
}

.text{
    font-size: 20px;
    text-align: justify;
}