.cercle {
    background: lightblue;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: red;
}

.cercle2 {
    background: lightblue;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: blue;
    filter: opacity(50%);
}

.cercle, .cercle2 {
    display: inline-block;
}

.cercle2:hover{
    transform: translateX(-400px);
}