#volcan{
    color: red;
}

body {
    font-family: 'Arial';
    color: black;
    margin: 20px;
}

.blau{
    color: blue;
    font-style: italic;
}

.negreta{
    font-weight: bold;
}

.subr{
    text-decoration: underline;
}

.fondo{
    background-color: antiquewhite;
}