.taronja{
    color: orange;
}

.blau{
    color: white;
    background-color:blue;
}

.lila{
    color: purple;
}

.verd{
    color: white;
    background-color: green;
}

.negreta{
    font-weight: bold;
}