.roig{
    color:red;
}

#roig{
    text-decoration: underline;
    color:red;
}

.negreta{
    font-weight: bold;
}

.fondo{
    color: white;
    background-color: red;
}

.data{
    font-style: italic;
    color: gray;
}

.linea{
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.line{
    border-bottom: 1px black solid;
}

.fondo2{
    background-color: rgba(210, 210, 210, 0.8);
    height: 30em;
}