.roig{
    color:red
}

#roig{
    text-decoration: underline;
    color:red
}

.negreta{
    font-weight: bold;
}

.fondo{
    color: white;
    background-color: red;
}

.data{
    font-style: italic;
}

.linea{
    text-decoration: underline;
    color: red;
}