.a{
    margin: 7rem 5rem 3rem;
    background-color: darkgray;
    width: 60%;
}

.linia{
    text-decoration: underline;
}

.h1{
    margin: 7rem 5rem 3rem;
    font-size: 50px;
}

.p{
    margin: 3rem 5rem 3rem;
    width: 700px;
}

.b{
    margin: 0rem 5rem;
}

button{
    border-radius: 30px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: transparent;
}