nav {
    display: flex;
    border-bottom: 3px black solid;
    background-color: antiquewhite;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}
