.imatge{
    background-image: url(img1.png);
    background-size: cover;
    height: 700px;
    width: 80%;
}

.damunt{
    color:white;
    font-size: 30px;
    width: 50%;
    padding-top: 7rem;
    padding-left: 6rem;
}

.text{
    color: white;
    width: 40%;
    padding-top: 3rem;
    padding-left: 6rem;
}

.button1{
    background-color: aquamarine;
    width: 10%;
    height: 10%;
    margin-top: 20px;
    margin-left: 90px;
}

.button2{
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 15px;
}

.footer{
    color: white;
    margin-top: 8%;
    margin-left: 10%;
    background-color:mediumturquoise;
    height: 40px;
    text-align: center;
    margin-left: 0px;
}