.un{
    border-bottom: 2px solid black;
    padding: 1rem;
    padding-bottom: 2rem;
}

.dos{
    border-bottom: 2px solid black;
    padding: 1rem;
    padding-bottom: 2rem;
}

.tres{
    border-bottom: 2px solid black;
    padding: 1rem;
    padding-bottom: 2rem;
}

.quatre{
    border-bottom: 2px solid black;
    padding: 1rem;
    padding-bottom: 2rem;
}

.cinc{
    padding: 1rem;
    padding-bottom: 2rem;
}

.contenedor{
    border: 2px solid black;
}

p {
    opacity: 0;
  }
  
  p:hover {
    opacity: 1;;
  }