body{
    background-color: wheat;
    margin: 0;
    padding: 0;
    height: 100rem;
    background-repeat: no-repeat;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding: 1em;
}

.menu ul {
    list-style-type: none;
     margin: 0px;
    padding: 15px;    
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

img{
    height: 80px;
    width: 80px;
    margin-right: auto;
}

.boton {
    margin: 40px;
    border-radius: 8px;
    padding: 10px 10px;
}

.html a{
    color: aquamarine;
}

.html, .css, .css2{
    color: black;
    text-align: center;
}

.contenedor{
    display: flex;
    width: 60%;
}

.html, .css, .css2{
    flex: 1;
    margin: 10px;
}

.html a:link{
    color: red;
}

.html a:visited{
    color: cornflowerblue;
}

.html a:hover{
    color: greenyellow;
}

.html a:active{
    color: darkorchid;
}


.css a:link{
    color: red;
}

.css a:visited{
    color: cornflowerblue;
}

.css a:hover{
    color: greenyellow;
}


.css a:active{
    color: darkorchid;
}


.css2 a:link{
    color: red;
}

.css2 a:visited{
    color: cornflowerblue;
}

.css2 a:hover{
    color: greenyellow;
}

.css2 a:active{
    color: darkorchid;
}


ul a:link{
    color: aquamarine;
}

.menu ul a:visited{
    color: red;
}

.menu ul a:hover{
    color: white;
}

.menu ul a:active{
    color: #2FB387;
}
