.menu {
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding: 1em;
}

ul a:link{
    color: black;
}

.menu ul a:visited{
    color: red;
}

.menu ul a:hover{
    color: white;
}

.menu ul a:active{
    color: #2FB387;
}

.menu ul {
    list-style-type: none;
     margin: 0px;
    padding: 15px;    
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

img{
    height: 80px;
    width: 80px;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: wheat;
    color: black;
}

form{
    font-size:40px;
    padding: 20px;
    border-radius: 8px;
}

 label{
  padding: 5px;
  width: 50%;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.credenciales{
    background-color: aquamarine;
}

button {
    margin: 40px;
    border-radius: 8px;
    padding: 10px 10px;
}

input, select {
    padding: 4px;
    width: 15%;
}

button a{
    text-decoration: none;
}



