.titol{
    margin-top: 10%;
}

.text{
    margin-left: 6%;  
}

img{
    height: 100px;
}

th,td{
    border: 3px black solid;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.centrar{
    margin-left: 6%;   
}