.titol{
    margin-top: 10%;
    font-size: 50px;
}

.text{
    margin-left: 6%;  
}

img{
    height: 100px;
}

th,td{
    border: 3px black solid;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.centrar{
    margin-left: 6%;   
}

.foto{
    float: right;
    height: 300px;
    margin-right: 40rem;
}

.arriba{
    margin-left: 20%;
    margin-top: -350px;
}