body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.fondo{
    background-color: #191c32;
    height: 100vh;
    color: white;
}

.titol{
    margin-top: 10%;
    font-size: 50px;
}

.text{
    margin-left: 6%;  
}

img{
    height: 100px;
}

th,td{
    border: 3px burlywood solid;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.centrar{
    margin-left: 6%;   
}

.foto{
    float: right;
    height: 250px;
    margin-right: 30rem;
    margin-top: -40px;
}

.arriba{
    margin-left: 20%;
    margin-top: -350px;
}

.arriba.tr:nth-child(even){
    background-color: aqua;
}