.menu {
    border-bottom: 2px solid black;
    font-size: 20px;
    display: flex;
    justify-content: right;
}

a:link{
    color: crimson;
}

a:visited{
    color: red;
}

a:active{
    color: #2FB387;
}

a:hover{
    color: white;
}

.menu ul {
    list-style-type: none;
     margin: 0px;
    padding: 15px;    
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.fondo{
    background-image: url(../imatges/fondo.jpg);
    background-size: cover;
    height: 800px;
}

.color{
    color: white;
}

ul{
    text-align: center; 
}

img{
    height: 80px;
    width: 80px;
    margin-right: auto;
}
