.menu {
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding: 1em;
}

ul a:link{
    color: black;
}

.menu ul a:visited{
    color: red;
}

.menu ul a:hover{
    color: white;
}

.menu ul a:active{
    color: #2FB387;
}

.menu ul {
    list-style-type: none;
     margin: 0px;
    padding: 15px;    
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: wheat;
    color: black;
}

ul{
    text-align: center; 
}

img{
    height: 80px;
    width: 80px;
    margin-right: auto;
}

.text{
    color: black;
    width: 700px;
    padding-top: 10rem;
    padding-left: 25%;
    padding-bottom: 3rem;
    opacity: 0;
    animation: mostrar 4s forwards;
}

@keyframes mostrar {
    to {
        opacity: 1;
    }
}

.text p{
    font-style: italic;
    font-size: 20px;
}

span{
    color: aqua;
    text-decoration: underline;
}

button {
    color: black;
    padding: 1rem;
    margin: 20px;
    border: 2px solid;
    border-radius: 20px;
}

button a{
    text-decoration: none;
}

button a{
    text-decoration: none;
}

footer {
    color: black;
    padding-left: 2rem;
    margin-top: 14rem;
}

.redes a{
    margin-left: 4rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


