body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: wheat;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding: 1em;
}

ul a:link{
    color: black;
}

.menu ul a:visited{
    color: red;
}

.menu ul a:hover{
    color: white;
}

.menu ul a:active{
    color: #2FB387;
}

.menu ul {
    list-style-type: none;
     margin: 0px;
    padding: 15px;    
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

.menu img{
    height: 80px;
    width: 80px;
    margin-right: auto;
}

button {
    margin: 40px;
    border-radius: 8px;
    padding: 10px 10px;
}

button a{
    text-decoration: none;
}

.redes a{
    margin-left: 4rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

footer{
    margin-left: 2rem;
}

